version: '3.4'

services:
  description:
    build: ./
    command: python3 start_parsing_description.py
    restart: on-failure

  key:
    build: ./
    command: python3 start_parsing_keys.py
    restart: on-failure
  source:
    build: ./
    command: python3 start_parsing_source.py
    restart: on-failure

